
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<h3>Cifrado Zig Zag</h3>
@Html.ActionLink("Cifrado o descifrado un archivo", "MenuZigZag", "SerieI")
<h3>Cifrado en espiral</h3>
@Html.ActionLink("Cifrado o descifrado un archivo", "MenuEspiral", "SerieI")
<h3>Cifrado Cesar</h3>
@Html.ActionLink("Cifrado o descifrado un archivo", "MenuCesar", "SerieI")
